ProcessMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Jul 22 2016 23:23:33 GMT+0200 (W. Europe Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="ProcessMap">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Layout">
                                 <xs:complexType>
                                       <xs:attribute name="width" type="xs:double"></xs:attribute>
                                       <xs:attribute name="height" type="xs:double"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Nodes">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Node" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Frequency">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="total" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="case" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="start" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="end" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="maxRepetitions" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Duration">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="total" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="min" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="max" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="mean" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="median" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Layout">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="x" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="y" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="width" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="height" type="xs:double"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="index" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="activity" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="StartNode">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Layout">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="x" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="y" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="width" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="height" type="xs:double"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="index" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="EndNode">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Layout">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="x" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="y" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="width" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="height" type="xs:double"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="index" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="size" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Edges">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Edge" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Frequency">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="total" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="case" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="maxRepetitions" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Duration">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="total" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="min" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="max" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="mean" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="median" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Layout">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="curve" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="labelX" type="xs:double"></xs:attribute>
                                                                           <xs:attribute name="labelY" type="xs:double"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="sourceIndex" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="targetIndex" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="size" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="numNodes" type="xs:int"></xs:attribute>
                     <xs:attribute name="nodeThreshold" type="xs:int"></xs:attribute>
                     <xs:attribute name="edgeThreshold" type="xs:int"></xs:attribute>
                     <xs:attribute name="discoVersion" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>